html
{
	width:100%;
}

body
{
	background-image:url("../pictures/homePic/fond.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:100% 100%;
  background-size:cover;
}
.iconGame
{
	width: 105px;
	height: 105px;
}
