body
{
background-image:url("../pictures/setting_picture/fond.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:100% 100%;
  background-size:cover;
}

.ccmd3
{
	margin: 1%;
	padding: 1%;
	background: white;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 1px 1px 2px dimgrey;
}

.ccmd9
{
	margin: 1%;
	padding: 1%;
	background: white;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 1px 1px 2px dimgrey;
	width : 40%;
}

